<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button
        text="Back"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="change-password-container">
    <div class="change-password-header">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>BACK</p>
      </ion-button>
    </div>
    <div class="change-password-body">
      <div class="change-password-lock">
        <img src="assets/images/change-password/padlock.svg" />
      </div>
      <div class="change-password-body-header">
        <div class="title-container">
          <h5>CHANGE PASSWORD</h5>
        </div>
      </div>
      <div class="change-password-body-content">
        <form [formGroup]="passForm" #form="ngForm">
          <div class="form-group">
            <ion-item lines="none">
              <ion-icon name="mail"></ion-icon>
              <ion-input
                label="Email"
                labelPlacement="floating"
                placeholder="example@example.com"
                formControlName="email"
              >
              </ion-input>
            </ion-item>
            <div class="validators-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <div
                  class="error-message"
                  *ngIf="passForm.controls['email'].hasError(validation.type) && (passForm.controls['email'].dirty || passForm.controls['email'].touched)"
                >
                  <ion-icon
                    slot="start"
                    name="information-circle-outline"
                  ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <ion-item lines="none">
              <app-password-toggle-show-hide>
                <ion-icon name="lock-closed"></ion-icon>
                <ion-input
                  label="Old Password"
                  labelPlacement="floating"
                  placeholder="Enter your old password"
                  type="password"
                  formControlName="oldPassword"
                ></ion-input>
              </app-password-toggle-show-hide>
            </ion-item>
            <div class="validators-errors">
              <ng-container
                *ngFor="let validation of validationMessages.oldPassword"
              >
                <div
                  class="error-message"
                  *ngIf="passForm.controls['oldPassword'].hasError(validation.type) && (passForm.controls['oldPassword'].dirty || passForm.controls['oldPassword'].touched)"
                >
                  <ion-icon
                    slot="start"
                    name="information-circle-outline"
                  ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <ion-item lines="none">
              <app-password-toggle-show-hide>
                <ion-icon name="lock-closed"></ion-icon>
                <ion-input
                  label="New Password"
                  labelPlacement="floating"
                  placeholder="Enter your new password"
                  type="password"
                  formControlName="newPassword"
                ></ion-input>
              </app-password-toggle-show-hide>
            </ion-item>
            <div class="validators-errors">
              <ng-container
                *ngFor="let validation of validationMessages.newPassword"
              >
                <div
                  class="error-message"
                  *ngIf="passForm.controls['newPassword'].hasError(validation.type) && (passForm.controls['newPassword'].dirty || passForm.controls['newPassword'].touched)"
                >
                  <ion-icon
                    slot="start"
                    name="information-circle-outline"
                  ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <ion-item lines="none">
              <app-password-toggle-show-hide>
                <ion-icon name="lock-closed"></ion-icon>
                <ion-input
                  label="Confirm Password"
                  labelPlacement="floating"
                  placeholder=""
                  type="password"
                  formControlName="confirmPassword"
                ></ion-input>
              </app-password-toggle-show-hide>
            </ion-item>
            <div class="validators-errors">
              <ng-container
                *ngFor="let validation of validationMessages.confirmPassword"
              >
                <div
                  class="error-message"
                  *ngIf="passForm.controls['confirmPassword'].hasError(validation.type) && (passForm.controls['confirmPassword'].dirty || passForm.controls['confirmPassword'].touched)"
                >
                  <ion-icon
                    slot="start"
                    name="information-circle-outline"
                  ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <ion-button expand="block" (click)="changePassword()">
            SUBMIT
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
