:host {
  display: flex;
  width: 100%;
  align-items: center;
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
    background-color: transparent;
    color: var(--ion-color-gray);

    ion-icon {
      font-size: 17px;
      transition: 1s all;
    }
  }
}

@media only screen and (min-width: 1920px) {
  :host {
    button {
      width: 50px;
      ion-icon {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (min-width: 2100px) {
  :host {
    button {
      width: 60px;
      ion-icon {
        font-size: 30px;
      }
    }
  }
}
