.login-container {
  display: flex;
  flex-direction: column;
  margin: 0;

  .login-header {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
    border-bottom: 0.4rem dashed var(--ion-color-secondary);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    h5 {
      font-weight: bold;
      font-size: 2rem;

      span {
        color: var(--ion-color-primary);
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }

  .login-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .login-body-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .welcome-container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-primary);
        margin-bottom: 0.8rem;

        ion-icon {
          font-size: 2rem;
        }

        h5 {
          margin: 0;
          margin-left: 0.3rem;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }

      p {
        margin: 0;
      }
    }

    .login-body-content {
      margin: 0.8rem;
      margin-top: 1.5rem;

      ion-item {
        --inner-padding-start: 0rem;
        --inner-padding-end: 0rem;
        --padding-start: 0rem;
        margin-top: 1.3rem;
        border: 0.18rem solid var(--ion-color-primary);
        border-radius: 0.8rem;

        ion-icon {
          position: absolute;
          top: 50%;
          left: 5%;
          transform: translateY(-50%) translateX(-5%);
          color: var(--ion-color-light-shade);
          font-size: 1.5rem;
        }

        ion-input {
          --padding-start: 3rem;
          margin-right: 0.8rem;
        }

        &:nth-child(2) {
          ion-input {
            --padding-end: 2.3rem;
          }
        }
      }

      .change-password-container {
        display: flex;
        justify-content: flex-end;

        p {
          &:hover {
            cursor: pointer;
          }
        }
      }

      ion-button {
        --border-radius: 0.8rem;
        height: 3.3rem;
        font-weight: bold;
      }

      .sign-up {
        margin-top: 2rem;

        span {
          font-weight: bold;
          color: var(--ion-color-primary);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Media Queries
@media only screen and (min-width: 425px) {
  .login-container {
    padding-inline: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .login-container {
    padding-inline: 20%;
  }
}

@media only screen and (min-width: 992px) {
  ion-content {
    --keyboard-offset: 0rem !important;
  }

  .login-container {
    padding-inline: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      160deg,
      var(--ion-color-primary) 75%,
      var(--ion-color-light-shade)
    );

    .login-header {
      border: none;
      height: 100%;
      color: white;
      width: 100%;

      h5 {
        span {
          color: var(--ion-color-tertiary-shade);
        }
      }
    }

    .login-body {
      width: 60rem;
      height: 70%;
      justify-content: center;
      background-color: var(--ion-background-color);
      border-radius: 0.8rem;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .login-container {
    .login-header {
      h5 {
        font-size: 3rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .login-body {
      .login-body-content {
        ion-item {
          ion-icon {
            left: 3%;
            transform: translateY(-50%) translateX(-3%);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1680px) {
  .login-container {
    .login-header {
      h5 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.7rem;
      }
    }

    .login-body {
      padding: 2rem;

      .login-body-header {
        .welcome-container {
          ion-icon {
            font-size: 3rem;
          }

          h5 {
            font-size: 2.5rem;
          }
        }

        P {
          font-size: 1.4rem;
        }
      }

      .login-body-content {
        ion-item {
          ion-icon {
            font-size: 2rem;
          }

          ion-input {
            height: 4.5rem;
            font-size: 1.3rem;
            margin-right: 1rem;
            --padding-start: 3.5rem;
          }
        }

        .change-password-container {
          p {
            font-size: 1.3rem;
          }
        }

        ion-button {
          font-size: 1.3rem;
          height: 3.7rem;
        }

        .sign-up {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 2100px) {
  .login-container {
    .login-header {
      h5 {
        font-size: 6rem;
      }

      p {
        font-size: 2.5rem;
      }
    }

    .login-body {
      height: 50%;
      width: 50%;

      .login-body-header {
        .welcome-container {
          ion-icon {
            font-size: 4.5rem;
          }

          h5 {
            font-size: 3.5rem;
          }
        }

        P {
          font-size: 1.8rem;
        }
      }

      .login-body-content {
        ion-item {
          ion-icon {
            font-size: 2.7rem;
          }

          ion-input {
            height: 6.5rem;
            font-size: 1.85rem;
            --padding-start: 4.5rem;
          }

          &:nth-child(2) {
            ion-input {
              margin-right: 2.7rem;
            }
          }
        }

        .change-password-container {
          p {
            font-size: 1.7rem;
          }
        }

        ion-button {
          font-size: 1.9rem;
          height: 5rem;
        }

        .sign-up {
          font-size: 1.7rem;
        }
      }
    }
  }
}
