<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/login" color="light">
      <p>{{buttonLabel}}</p>
      <ion-icon color="primary" icon="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">
    <div class="header">
      <img src="assets/images/logo/Logo White.png" />
      <p>
        Crave no more, just tap and explore, as we deliver foodie dreams right
        to your door!
      </p>
    </div>
    <div class="body">
      <img src="assets/images/intro/pose01_male.png" />
    </div>
  </div>
</ion-content>
