<ion-content>
  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button routerLink="/login" color="light"
      >{{buttonLabel}}</ion-fab-button
    >
  </ion-fab>

  <swiper-container
    #swiper
    (slidechange)="onSlideChange()"
    effect="coverflow"
    pagination="true"
    space-between="1000"
  >
    <swiper-slide>
      <div class="image-container">
        <img src="../../../assets/images/intro/eating.svg" />
      </div>
      <h3>Welcome to DeliverEat</h3>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <img src="../../../assets/images/intro/shopping.svg" />
      </div>
      <h3>Enjoy restaurant-quality meals at your fingertips</h3>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <img src="../../../assets/images/intro/groceries.svg" />
      </div>
      <h3>Quick and easy ordering</h3>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <img src="../../../assets/images/intro/deliveries.svg" />
      </div>
      <h3>Delivered straight to your door</h3>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <img src="../../../assets/images/intro/support.svg" />
      </div>
      <h3>Get started and explore your options now!</h3>
    </swiper-slide>
  </swiper-container>
</ion-content>
